{% extends 'base.html' %}

{% block title %}
{{ category.text }}
{% endblock%}

{% block content %}
<div class="container">
    <div class="p-3">
        <div class="card">
            {% endif %}
            <div class="card-body">
                <h1 class="card-title">
                    {{ category.text }}
                    {% if category.created_at|date:"Y-m-d H:i" != category.updated_at|date:"Y-m-d H:i" %}
                    <small><i>(edited)</i></small>
                    {% endif %}
                </h1>
                <p class="card-text">Created by:
                    <a href="#">{{ category.created_by.username }}</a>
                </p>
            </div>
            <div class="card-footer text-muted">
                {{ category.created_at }}
            </div>
        </div>
    </div>
</div>


{% endblock %}
