<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'index' %}">Shop</a>
  </li>

  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'user_profile' user.id%}">Hello, {{ user.username }}</a>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link active" href="#">Admin</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'shoppingCart_detail' %}">Shopping Cart</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">Register</a>
    </li>
    <li class="nav-item">
       <a class="nav-link active" href="{% url 'login' %}">Login</a>
    </li>

  {% endif %}
  </ul>
